#footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-footer);
}

#footer .text {
    margin: 0 10px;
}